
/* Your CSS Code here. */
.parent{
	margin:20;
	background-color: blue;
	padding: 30px;
	color: white;
	width:360px;
	border: 20px solid red;
	
}
.child{
	background-color: yellow;
	padding: 30px;
	width: 300px;
	border: 3px dashed black ;
	test-position: center;
}